@model IEnumerable<ItemDto>

<div class="card shadow border-0 mt-4">
	<div class="card-header bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h1 class="text-dark">List of Items</h1>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<div class="row pb-3">
			<div class="col-6">
			</div>
			<div class="col-6 text-end">
				<a asp-action="ItemCreate" class="btn btn-outline-success"><i class="bi bi-plus-square"></i> Create New Item</a>
			</div>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>
						ID
					</th>
					<th>
						Group
					</th>
					<th>
						Unit Of Measurement
					</th>
					<th>
						Quantity
					</th>
					<th>
						Price Without VAT
					</th>
					<th>
						Status
					</th>
					<th>
						Storage Location
					</th>
					<th>
						Contact Person
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							@item.ItemID
						</td>
						<td>
							@item.Group
						</td>
						<td>
							@item.UnitOfMeasurement
						</td>
						<td>
							@item.Quantity
						</td>
						<td>
							@((item.PriceWithoutVAT).ToString("c"))
						</td>
						<td>
							@item.Status
						</td>
						<td>
							@item.StorageLocation
						</td>
						<td>
							@item.ContactPerson
						</td>
						<td>
							<a class="btn btn-dark" asp-action="ItemUpdate" asp-route-itemId="@item.ItemID">
								<i class="bi bi-pencil-square"></i>
							</a>
							<a class="btn btn-danger" asp-action="ItemDelete" asp-route-itemId="@item.ItemID">
								<i class="bi bi-trash"></i>
							</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>